<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h2>🎥 What kind of mood are you in?</h2>
        <form method="POST">
            {{form.input}}
            <button type="submit">Get recommendations</button>
        </form>
        {% if form.output.data %}
        <div class="result">
            <h3>Recommendations:</h3>
            <p>{{ form.output.data }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>